<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<body>
    <footer class="bg-secondary text-light footer" id="footer" th:fragment="footer">
        <div class="container-fluid mt-3">
            <div class="mt-3 row d-flex justify-content-center">
                <p class="col-lg-3 col-sm-6 col-12 text-center mt-3" th:text="#{foot.copyright}"></p>
                <p class="col-lg-3 col-sm-6 col-12 text-center mt-3" th:utext="#{foot.info}"></p>
            </div>
        </div>
    </footer>
</body>
</html>