<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<body>

<div class="m-3">
    <nav class="navbar navbar-expand-sm navbar-dark bg-dark" id="header" th:fragment="header">
        <div class="container-fluid">
            <a class="navbar-brand m-2" href="/">🌳</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#collapsable" aria-controls="collapsable" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="collapsable">
                <a href="/locations" id="locations" th:class="${active_AllLocations} + ' nav-item nav-link m-2' " th:text="#{loc.head.all}">Locations</a>
                <a href="/locations/add" id="add_locations" th:class="${active_AddLocations} + ' nav-item nav-link m-2' " th:text="#{loc.head.add}">Add Location</a>
                <a href="/species" id="species" th:class="${active_AllSpecies} + ' nav-item nav-link m-2' " th:text="#{spe.head.all}">Tree Species</a>
                <a href="/species/add" id="add_species" th:class="${active_AddSpecies} + ' nav-item nav-link m-2' " th:text="#{spe.head.add}">Add Tree Species</a>
                <a href="/viewed" id="pages_viewed" th:class="${active_PagesViewed} + ' nav-item nav-link m-2'" th:text="#{head.all.visited}">Session History</a>

                <div class="dropdown nav-item ms-auto m-2">
                    <button class="nav-item nav-link" th:text="#{head.lang}">Language</button>
                    <div class="dropdown-content bg-dark">
                        <a href="?lang=fr" class="nav-item nav-link m-2">FR</a>
                        <a href="?lang=en" class="nav-item nav-link m-2">EN</a>
                    </div>
                </div>
            </div>
        </div>
    </nav>
</div>

</body>
</html>