<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"/>
    <link rel="stylesheet" th:href="@{/css/generalStyling.css}">
    <script defer th:src="@{/webjars/bootstrap/js/bootstrap.bundle.min.js}"></script>

    <title th:text="${headerText} + ' Location'">Location</title>
</head>
<body class="bg-dark-subtle" id="main-body">
    <div th:replace="~{fragment/header :: header}"></div>

    <main>
        <div class="container d-flex justify-content-center">
            <div class="col-lg-10 col-md-12 col-sm-12 col-12 mt-3">
                <div class="text-center" th:if="${headerText}">
                    <h2 th:switch="${headerText}">
                        <span th:case="'Edit'" th:text="#{loc.modify.edit(${location.country})}"></span>
                        <span th:case="'Add'" th:text="#{loc.modify.add}"></span>
                    </h2>
                </div>

                <form method="post" class="form" id="addingLocation" th:object="${locationViewModel}">
                    <div class="row mb-3">
                        <label th:for="countryName" class="col-sm-2 col-form-label" th:text="#{loc.add.name}">Name:</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" placeholder="Country" th:field="*{countryName}">
                        </div>
                        <div th:if="${#fields.hasErrors('countryName')}">
                            <p th:errors="*{countryName}" class="text-danger">There's an issue with country name</p>
                        </div>
                        <div th:if="${countryExists}">
                            <p class="text-danger" th:text="${countryExists}">Country already exists</p>
                        </div>
                    </div>

                    <div class="row mb-3">
                        <label th:for="climates" class="col-sm-2 col-form-label" th:text="#{loc.add.climate}">Climate selection:</label>
                        <div class="col-sm-10">
                            <select class="form-control" th:field="*{climates}" multiple>
                                <option th:each="climate : ${climates}" th:value="${climate}" th:text="${climate}"></option>
                            </select>
                        </div>
                        <div th:if="${#fields.hasErrors('climates')}">
                            <p th:errors="*{climates}" class="text-danger">There's an issue with the climates</p>
                        </div>
                    </div>

                    <div class="row mb-3">
                        <label th:for="rainfall" class="col-sm-2 col-form-label" th:text="#{loc.add.rain}">Yearly Rainfall:</label>
                        <div class="col-sm-10">
                            <input type="number" step="0.1" class="form-control" placeholder="0" th:field="*{rainfall}">
                        </div>
                        <div th:if="${#fields.hasErrors('rainfall')}">
                            <p th:errors="*{rainfall}" class="text-danger">There's an issue with rainfall</p>
                        </div>
                    </div>

                    <div class="row mb-3">
                        <label th:for="forestCoverage" class="col-sm-2 col-form-label" th:text="#{loc.add.forest}">% of Forest Coverage:</label>
                        <div class="col-sm-10">
                            <input type="number" class="form-control" placeholder="0" th:field="*{forestCoverage}">
                        </div>
                        <div th:if="${#fields.hasErrors('forestCoverage')}">
                            <p th:errors="*{forestCoverage}" class="text-danger">There's an issue with forest coverage</p>
                        </div>
                    </div>

                    <div class="row mb-3">
                        <div class="col-sm-10 offset-sm-2">
                            <input type="submit" class="btn btn-primary" value="Submit">
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </main>

    <div th:replace="~{fragment/footer :: footer}"></div>

</body>
</html>