<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"/>
    <link rel="stylesheet" th:href="@{/css/generalStyling.css}">
    <script defer th:src="@{/webjars/bootstrap/js/bootstrap.bundle.min.js}"></script>

    <title th:text="${headerText} + ' Species'">Add Tree Species</title>
</head>
<body class="bg-dark-subtle" id="main-body">
    <div th:replace="~{fragment/header :: header}"></div>

    <main>
        <div class="container d-flex justify-content-center">
            <div class="col-lg-10 col-md-12 col-sm-12 col-12 mt-3">
                <div class="text-center" th:if="${headerText}">
                    <h2 th:switch="${headerText}">
                        <span th:case="'Edit'" th:text="#{spe.modify.edit(${species.speciesName})}"></span>
                        <span th:case="'Add'" th:text="#{spe.modify.add}"></span>
                    </h2>
                </div>

                <form method="post" class="form" th:object="${speciesViewModel}">
                    <div class="row mb-3">
                        <label th:for="speciesName" class="col-sm-2 col-form-label" th:text="#{spe.add.name}">Name:</label>
                        <div class="col-sm-10">
                            <input type="text" th:field="*{speciesName}" class="form-control" placeholder="Species">
                        </div>
                        <div th:if="${#fields.hasErrors('speciesName')}">
                            <p th:errors="*{speciesName}" class="text-danger">There's an issue with species name</p>
                        </div>
                        <div th:if="${speciesExists}">
                            <p class="text-danger" th:text="${speciesExists}">Species already exists</p>
                        </div>
                    </div>

                    <div class="row mb-3">
                        <label th:for="status" class="col-sm-2 col-form-label" th:text="#{spe.add.conservation}">Conservation Status:</label>
                        <div class="col-sm-10">
                            <select th:field="*{status}" class="form-select">
                                <option value=""></option>
                                <option th:each="status : ${conservationStats}" th:value="${status}" th:text="${status}"></option>
                            </select>
                        </div>
                        <div th:if="${#fields.hasErrors('status')}">
                            <p th:errors="*{status}" class="text-danger">There's an issue with conservation status</p>
                        </div>
                    </div>

                    <div class="row mb-3">
                        <label th:for="leaf" class="col-sm-2 col-form-label" th:text="#{spe.add.leaf}">Leaf Type:</label>
                        <div class="col-sm-10">
                            <select th:field="*{leaf}" class="form-select">
                                <option value=""></option>
                                <option th:each="leaves : ${leafTypes}" th:value="${leaves}" th:text="${leaves}"></option>
                            </select>
                        </div>
                        <div th:if="${#fields.hasErrors('leaf')}">
                            <p th:errors="*{leaf}" class="text-danger">There's an issue with leaf type</p>
                        </div>
                    </div>

                    <div class="row mb-3">
                        <label th:for="bearsFruit" class="col-sm-2 col-form-label" th:text="#{spe.add.fruit}">Bears Fruit:</label>
                        <div class="col-sm-10">
                            <select th:field="*{bearsFruit}" class="form-select">
                                <option value="true">Yes</option>
                                <option value="false">No</option>
                            </select>
                        </div>
                        <div th:if="${#fields.hasErrors('bearsFruit')}">
                            <p th:errors="*{bearsFruit}" class="text-danger">There's an issue with fruit</p>
                        </div>
                    </div>

                    <div class="row mb-3">
                        <div class="col-sm-10 offset-sm-2">
                            <input type="submit" class="btn btn-primary" value="Submit">
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </main>

    <div th:replace="~{fragment/footer :: footer}"></div>

</body>
</html>