<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"/>
    <link rel="stylesheet" th:href="@{/css/generalStyling.css}">
    <script defer th:src="@{/webjars/bootstrap/js/bootstrap.bundle.min.js}"></script>

    <title>All Locations</title>
</head>
<body class="bg-dark-subtle" id="main-body">
    <div th:replace="~{fragment/header :: header}"></div>

    <main>
        <div class="container d-flex justify-content-center">
            <div class="row">
                <div class="col-lg-10 col-md-10 col-sm-12 col-12 mt-3 mx-auto">
                    <form method="post" class="form">
                        <div class="row mb-3">
                            <label for="filterOption" class="col-sm-3 col-form-label" th:text="#{loc.filter}">Find all locations:</label>
                            <div class="col-sm-5">
                                <select id="filterOption" name="filterOption" class="form-select" required>
                                    <option th:if="${forestSelected != null}" th:text="#{loc.filter.forest}" value="forest" selected></option>
                                    <option th:if="${forestSelected == null}" th:text="#{loc.filter.forest}" value="forest"></option>
                                    <option th:if="${rainSelected != null}" th:text="#{loc.filter.rainfall}" value="rainfall" selected></option>
                                    <option th:if="${rainSelected == null}" th:text="#{loc.filter.rainfall}" value="rainfall"></option>
                                    <option th:if="${speciesSelected != null}" th:text="#{loc.filter.species}" value="species" selected></option>
                                    <option th:if="${speciesSelected == null}" th:text="#{loc.filter.species}" value="species"></option>
                                </select>
                            </div>
                            <div class="col-sm-3">
                                <input type="text" id="value" name="value" class="form-control" th:value="${value}" autofocus required>
                                <p th:if="${error != null}" th:switch="${error}" class="text-danger">
                                    <span th:case="'Forest Low'" th:text="#{loc.filter.forest.low}"></span>
                                    <span th:case="'Forest High'" th:text="#{loc.filter.forest.high}"></span>
                                    <span th:case="'Forest Invalid'" th:text="#{loc.filter.forest.invalid}"></span>
                                    <span th:case="'Rainfall Low'" th:text="#{loc.filter.rainfall.low}"></span>
                                    <span th:case="'Rainfall Invalid'" th:text="#{loc.filter.rainfall.invalid}"></span>
                                    <span th:case="'Species Low'" th:text="#{loc.filter.species.low}"></span>
                                    <span th:case="'Species Invalid'" th:text="#{loc.filter.species.invalid}"></span>
                                    <span th:case="*" th:text="#{loc.filter.err}"></span>
                                </p>
                            </div>
                            <div class="col-sm-1">
                                <input type="submit" class="btn btn-primary" value="Filter">
                            </div>
                        </div>
                    </form>
                </div>

                <div class="col-lg-10 col-md-10 col-sm-12 col-12 mt-3 mx-auto">
                    <table class="table table-responsive table-striped">
                        <tr class="table-dark">
                            <th th:text="#{loc.all.name}">Country Name</th>
                            <th th:text="#{loc.all.subclimates}">Sub Climates</th>
                            <th th:text="#{loc.all.rainfall}">Yearly Rainfall (mm)</th>
                            <th th:text="#{loc.all.forest}">% Forest Coverage</th>
                            <th th:text="#{loc.all.species}"># of Species</th>
                            <th th:text="#{loc.all.trees}"># of Trees</th>
                            <th></th>
                            <th></th>
                        </tr>
                        <tr class="content align-middle" th:each="location : ${locations}">
                            <td th:attr="onclick='window.location.href=\'/locations/' + ${location.getCountry().toLowerCase()} + '\''" th:text="${location.getCountry()}"></td>
                            <td th:attr="onclick='window.location.href=\'/locations/' + ${location.getCountry().toLowerCase()} + '\''" th:text="${location.getFormattedSubClimates()}"></td>
                            <td th:attr="onclick='window.location.href=\'/locations/' + ${location.getCountry().toLowerCase()} + '\''" th:text="${location.getYearlyAverageRainfall()}"></td>
                            <td th:attr="onclick='window.location.href=\'/locations/' + ${location.getCountry().toLowerCase()} + '\''" th:text="${location.getPercentageOfForestland()}"></td>
                            <td th:if="${location.getSpeciesFound() != null}" th:attr="onclick='window.location.href=\'/locations/' + ${location.getCountry().toLowerCase()} + '\''" th:text="${location.getSpeciesFound().size()}"></td>
                            <td th:if="${location.getSpeciesFound() == null}" th:attr="onclick='window.location.href=\'/locations/' + ${location.getCountry().toLowerCase()} + '\''" th:text="NULL"></td>
                            <td th:if="${location.getTreesInLocation() != null}" th:attr="onclick='window.location.href=\'/locations/' + ${location.getCountry().toLowerCase()} + '\''" th:text="${location.getTreesInLocation().size()}"></td>
                            <td th:if="${location.getTreesInLocation() == null}" th:attr="onclick='window.location.href=\'/locations/' + ${location.getCountry().toLowerCase()} + '\''" th:text="NULL"></td>
                            <td><button th:attr="onclick='window.location.href=\'/locations/edit/' + ${location.getCountry().toLowerCase()} + '\''" th:text="#{edit}" class="btn btn-sm btn-dark">✏️</button></td>
                            <td><button th:attr="onclick='window.location.href=\'/locations/del/' + ${location.getCountry().toLowerCase()} + '\''" th:text="#{remove}" class="btn btn-sm btn-danger">Remove</button></td>
                        </tr>
                        <!-- If there are no locations show a blank row instead -->
                        <tr th:if="${locations.size() == 0}">
                            <td th:text="#{loc.filter.none}" colspan="8">None</td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </main>

    <div th:replace="~{fragment/footer :: footer}"></div>

</body>

</html>

