<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"/>
    <link rel="stylesheet" th:href="@{/css/generalStyling.css}">
    <script defer th:src="@{/webjars/bootstrap/js/bootstrap.bundle.min.js}"></script>

    <title>All Pages Viewed</title>
</head>
<body class="bg-dark-subtle" id="main-body">
    <div th:replace="~{fragment/header :: header}"></div>

    <main>
        <div class="container d-flex justify-content-center">
            <div class="col-lg-9 col-md-10 col-sm-12 col-12 mt-3">
                <table class="table table-responsive table-striped">
                    <tr class="table-dark">
                        <th th:text="#{pages.time}">Time Visited</th>
                        <th th:text="#{pages.name}">Page Visited</th>
                    </tr>
                    <tr class="content" th:each="page : ${session.pagesVisited}">
                        <td th:text="${#dates.format(page.getKey(), 'dd/MM/yyyy HH:mm:ss')}"></td>

                        <td th:text="${page.getValue()}"></td>
                    </tr>
                    <tr th:if="${session.pagesVisited.size() == 0}">
                        <td th:text="#{loc.filter.none}" colspan="2">None</td>
                    </tr>
                </table>
            </div>
        </div>
    </main>

    <div th:replace="~{fragment/footer :: footer}"></div>

</body>
</html>