<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"/>
    <link rel="stylesheet" th:href="@{/css/generalStyling.css}">
    <script defer th:src="@{/webjars/bootstrap/js/bootstrap.bundle.min.js}"></script>

    <title>All Tree Species</title>
</head>
<body class="bg-dark-subtle" id="main-body">
    <div th:replace="~{fragment/header :: header}"></div>

    <main>
        <div class="container d-flex justify-content-center">
            <div class="col-lg-10 col-md-10 col-sm-12 col-12 mt-3">
                <table class="table table-responsive table-striped">
                    <tr class="table-dark">
                        <th th:text="#{spe.all.name}">🌲 Species Name 🌳</th>
                        <th th:text="#{spe.all.conservation}">Conservation Status</th>
                        <th th:text="#{spe.all.leaf}">Leaf Type</th>
                        <th th:text="#{spe.all.fruit}">Bears Fruit?</th>
                        <th th:text="#{spe.all.locations}"># of Locations Found In</th>
                        <th th:text="#{spe.all.trees}"># of Trees</th>
                        <th></th>
                        <th></th>
                    </tr>
                    <tr class="content align-middle" th:each="species : ${treeSpecies}">
                        <td th:attr="onclick='window.location.href=\'/species/' + ${species.getSpeciesName().toLowerCase()} + '\''" th:text="${species.getSpeciesName()}"></td>
                        <td th:attr="onclick='window.location.href=\'/species/' + ${species.getSpeciesName().toLowerCase()} + '\''" th:text="${species.getConservationStatus().getStatusString()}"></td>
                        <td th:attr="onclick='window.location.href=\'/species/' + ${species.getSpeciesName().toLowerCase()} + '\''" th:text="${species.getLeafType().getTypeString()}"></td>
                        <td th:attr="onclick='window.location.href=\'/species/' + ${species.getSpeciesName().toLowerCase()} + '\''" th:text="${species.bearsFruit()}"></td>
                        <td th:if="${species.getLocationsFoundIn() != null}" th:attr="onclick='window.location.href=\'/species/' + ${species.getSpeciesName().toLowerCase()} + '\''" th:text="${species.getLocationsFoundIn().size()}"></td>
                        <td th:if="${species.getLocationsFoundIn() == null}" th:attr="onclick='window.location.href=\'/species/' + ${species.getSpeciesName().toLowerCase()} + '\''" th:text="NULL"></td>
                        <td th:if="${species.getTreesInSpecies() != null}" th:attr="onclick='window.location.href=\'/species/' + ${species.getSpeciesName().toLowerCase()} + '\''" th:text="${species.getTreesInSpecies().size()}"></td>
                        <td th:if="${species.getTreesInSpecies() == null}" th:attr="onclick='window.location.href=\'/species/' + ${species.getSpeciesName().toLowerCase()} + '\''" th:text="NULL"></td>
                        <td><button th:attr="onclick='window.location.href=\'/species/edit/' + ${species.getSpeciesName().toLowerCase()} + '\''" th:text="#{edit}" class="btn btn-sm btn-dark">Edit</button></td>
                        <td><button th:attr="onclick='window.location.href=\'/species/del/' + ${species.getSpeciesName().toLowerCase()} + '\''" th:text="#{remove}" class="btn btn-sm btn-danger">Remove</button></td>
                    </tr>
                    <!-- If there are no tree species, show a blank row instead -->
                    <tr th:if="${treeSpecies.size() == 0}">
                        <td th:text="#{loc.filter.none}" colspan="8">None</td>
                    </tr>
                </table>
            </div>
        </div>
    </main>

    <div th:replace="~{fragment/footer :: footer}"></div>

</body>

</html>