<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"/>
    <link rel="stylesheet" th:href="@{/css/generalStyling.css}">
    <script defer th:src="@{/webjars/bootstrap/js/bootstrap.bundle.min.js}"></script>
    <title>Database Error</title>
</head>
<body class="bg-dark-subtle">
<div th:replace="~{fragment/header :: header}"></div>

<main>
    <div class="container d-flex justify-content-center">
        <h1 th:text="#{db.error}"></h1>
    </div>
</main>

<div th:replace="~{fragment/footer :: footer}"></div>
</body>
</html>