<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"/>
<link rel="stylesheet" th:href="@{/css/generalStyling.css}">
<script defer th:src="@{/webjars/bootstrap/js/bootstrap.bundle.min.js}"></script>
<head>
    <meta charset="UTF-8">
    <title>Tree App</title>
</head>
<body class="bg-dark-subtle">
    <div th:replace="~{fragment/header :: header}"></div>

    <main>
        <div class="d-flex justify-content-center">
            <div class="row text-center">
                <h3 th:text="#{index_welcome}">Welcome to the Tree Application</h3>
                <p th:utext="#{index.about}">About
                </p>
            </div>
        </div>
    </main>

    <div th:replace="~{fragment/footer :: footer}"></div>
</body>
</html>