<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"/>
    <link rel="stylesheet" th:href="@{/css/generalStyling.css}">
    <script defer th:src="@{/webjars/bootstrap/js/bootstrap.bundle.min.js}"></script>
    <title th:text="${species.getSpeciesName()}"></title>
</head>
<body class="bg-dark-subtle" id="main-body">
<div th:replace="~{fragment/header :: header}"></div>

<main>
    <div class="container d-flex justify-content-center">
        <div class="row">
            <div class="col text-center">
                <h1 th:text="${species.getSpeciesName()}"></h1>
                <p class="lead" th:text="#{spe.info.conservation(${species.getSpeciesName()}, ${species.getConservationStatus().getStatusString()})}"></p>
                <p class="lead" th:with="bears=#{spe.info.bears},notbears=#{spe.info.notbears}" th:text="#{spe.info.leaf.fruit(${species.getLeafType().getTypeString()}, ${species.bearsFruit() ? bears : notbears})}"></p>
                <p class="lead" th:if="${species.getLocationsFoundIn() != null && species.getTreesInSpecies() != null}" th:text="#{spe.info.quantities(${species.getLocationsFoundIn().size()}, ${species.getTreesInSpecies().size()})}"></p>
                <div class="row">
                    <!-- If there are tree species, show them, if not don't show the table -->
                    <div th:if="${not #lists.isEmpty(species.getLocationsFoundIn()) && species.getLocationsFoundIn() != null}" class="col-6">
                        <h5 th:text="#{spe.info.all.locations}">All Locations</h5>
                        <table class="table table-responsive table-striped">
                            <tr class="table-dark">
                                <th th:text="#{spe.info.locations.name}">Country Name</th>
                                <th th:text="#{spe.info.locations.subclimates}">Country Subclimates</th>
                            </tr>
                            <tr th:each="location : ${species.getLocationsFoundIn()}">
                                <td th:text="${location.getCountry()}"></td>
                                <td th:text="${location.getFormattedSubClimates()}"></td>
                            </tr>
                        </table>
                    </div>
                    <!-- If there are trees, show them, if not don't show the table -->
                    <div th:if="${not #lists.isEmpty(species.getTreesInSpecies()) && species.getTreesInSpecies() != null}" class="col-6">
                        <h5 th:text="#{spe.info.all.trees}">All Trees</h5>
                        <table class="table table-responsive table-striped">
                            <tr class="table-dark">
                                <th th:text="#{spe.info.trees.id}">Tree ID</th>
                                <th th:text="#{spe.info.trees.country}">Country</th>
                                <th th:text="#{spe.info.trees.date}">Planting Date</th>
                            </tr>
                            <tr th:each="tree : ${species.getTreesInSpecies()}">
                                <td th:text="${tree.getTreeID()}"></td>
                                <td th:text="${tree.getLocation().getCountry()}"></td>
                                <td th:text="${tree.getPlantingDate()}"></td>
                            </tr>
                        </table>
                    </div>
                </div>
                <a class="btn btn-primary" href="/species" th:text="#{spe.info.return}"></a>
            </div>
        </div>
    </div>
</main>

<div th:replace="~{fragment/footer :: footer}"></div>
</body>
</html>